/* .wallet-adapter-button, .wallet-adapter-button-trigger{
    all:unset !important;
  }

.wallet-adapter-button{
    color: green !important;
    border: none !important;
    background-color: rgb(185, 115, 208) !important;
    width: 10vw !important;
    height: 6vh !important;
    text-align: center !important;
    justify-content: center !important;
    padding: auto !important;
    position: absolute !important;

} */
/* .wallet-adapter-button img{
    height: 50px !important;
    width: 50px !important;
}

.wallet-adapter-button-trigger{
    color: green !important;

}

.wallet-adapter-dropdown{
    display: flex !important;
    flex-direction: column  !important;
} */

.wallet-adapter-button-start-icon img{
display: none !important;
}